p { font-weight: 300; }
.review { padding-bottom: 5px; }
.panel-body.review-container { padding-top: 0; }
.panel-image { width: 107px; float: left; padding-right: 15px;  }
.panel-default { padding: 15px;border-color: white; border-bottom-color: lightgrey; border-radius: 0px; }
.review-header { padding-bottom: 10px; }
.reviewAuthor { margin: 0 5px; }
.reviewTimestamp { color: #ccc; }
.label { background-color: #ea0909 }
.glyphicon-star, .glyphicon-star-empty {
  color: #1291aa;
  font-size: 1.25em;
}

body {
    font-family: 'Merriweather', serif;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Bree Serif', serif;
}
